<div ng-if="$ctrl.currentUser && $ctrl.runningVote" class="vote-form">
    <button class="delete u-cf" ng-click="$ctrl.finishVote($ctrl.runningVote.vote)" ng-show="$ctrl.currentUser._id==$ctrl.runningVote.vote.owner"> &times;</button>
    <h4><strong>{{$ctrl.runningVote.vote.username}}</strong> wants to order at <strong>{{$ctrl.runningVote.restaurant.name}}</strong></h4>
    <form ng-if="!$ctrl.voteOwner && !$ctrl.voteAnswered"
        ng-submit="$ctrl.respondVote($ctrl.responseVal, $ctrl.runningVote)">
        <h6 class="subtitle">You too?</h6>
        <div class="u-full-width">
            <label>
                <input type="radio" ng-model="$ctrl.responseVal" ng-value="$ctrl.positive"/>
                <span class="label-body">Yes</span>
            </label>
        </div>
        <div class="u-full-width">
            <label>
                <input type="radio" ng-model="$ctrl.responseVal" ng-value="$ctrl.negative" />
                <span class="label-body">No</span>
            </label>
        </div>
        <div class="u-full-width" ng-if="$ctrl.runningVote.vote.allowSuggestions">
            <!-- only show this if the guy who asks wants to allow it -->
            <label>
                <input type="radio" ng-model="$ctrl.responseVal" ng-value="$ctrl.other"/>
                <span class="label-body">
                    Other <input type="text" ng-model="$ctrl.responseVal.restaurant"
                                ng-disabled="$ctrl.responseVal!==$ctrl.other"
                                ng-required="$ctrl.responseVal===$ctrl.other" />
                </span>
            </label>
        </div>
        <input type="submit" class="button-primary" value="Vote"/>
    </form>
</div>
