<add-vote></add-vote>
<vote-comp></vote-comp>
<vote-result></vote-result>
<!-- <ul>

Restaurants
    <li ng-repeat="rest in $ctrl.restaurants">
        <button class="delete" ng-click="$ctrl.removeRestaurant(rest)"> &times;</button>
        <span class="text">
            <tt>{{rest._id}}</tt>
            {{rest.name}}
        </span>
    </li>
    Votes
    <li ng-repeat="vote in $ctrl.votes">
        <button class="delete" ng-click="$ctrl.removeVote(vote)" ng-show="$ctrl.currentUser._id==vote.owner"> &times;</button>
        <span class="text">
            <tt>{{vote.restaurant}}</tt>
            {{vote.validUntil}}
        </span>
    </li>

</ul> -->
